.mnv-ec-marquee {
  position: relative;
  height: 22px;
  font-size: 16px;
  overflow: hidden;
  box-sizing: border-box;
  font-family: 'Officina'; }
  .mnv-ec-marquee span {
    white-space: nowrap; }
